.form_part_1{
    border-bottom: 5px solid red;
}
.bgimg{
    background-image: url("../images/calendar_icon.png");
    position: left;
    /* padding-left: 100px; */
    background-size: 30px;
    background-repeat: no-repeat;
}
.left_part_of_part_3{
    margin-top: 50px;
    margin-bottom: 350px;
    border-bottom: 5px solid red;
}
.left_part_of_part_3_heading{
    border-bottom: 1px solid red;
}
.left_part_of_part_2{
    margin-top: 50px;
    margin-bottom: 950px;
    margin-right: 50px;
}
.card_1_part_2{
    border-top: 1px solid rgb(147, 143, 143);
    /* border-bottom: 1px solid rgb(147, 143, 143); */
}
.right_part_2{
    border-bottom: 5px solid red;
    margin-bottom: 120px;
}
.right_part_of_not_available_room{
    margin-bottom: 0rem;
    padding-bottom: 0rem;
    margin-left: 1rem;
}
.left_part_of_part__of_not_available_room{
 padding-bottom: 0%;   
}
.step-row{
    width: 660px;
    height: 80px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    box-shadow: 0 -1px 5px -1px rgb(7, 6, 6);
    position: relative;
}
.step-coloumn{
    width: 350px;
    text-align: center;
    color: #333;
    position: relative;

}
#progress{
    position: absolute;
    height: 100%;
    width: 120px;
    background-color: rgb(45, 45, 49);
}
#progress::after{
    content: '';
    height: 0;
    width: 0;
    border-top: 40px solid transparent;
    border-bottom: 40px solid transparent;
    position: absolute;
    right: -40px;
    top: 0;
    border-left: 40px solid rgb(45, 45, 49);
}

#progress2{
    position: absolute;
    height: 100%;
    width: 310px;
    background-color: rgb(45, 45, 49);
}
#progress2::after{
    content: '';
    height: 0;
    width: 0;
    border-top: 40px solid transparent;
    border-bottom: 40px solid transparent;
    position: absolute;
    right: -40px;
    top: 0;
    border-left: 40px solid rgb(45, 45, 49);
}

#progress3{
    position: absolute;
    height: 100%;
    width: 470px;
    background-color: rgb(45, 45, 49);
}
#progress3::after{
    content: '';
    height: 0;
    width: 0;
    border-top: 40px solid transparent;
    border-bottom: 40px solid transparent;
    position: absolute;
    right: -40px;
    top: 0;
    border-left: 40px solid rgb(45, 45, 49);
}